@import url('https://fonts.googleapis.com/css?family=Roboto:400');
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: red;
	background: yellow;
	overflow: hidden;
	font-size: 0.85rem;
}


a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

a:hover,
a:focus {
	color: #333;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Content */
.content {
	padding: 3em 0;
}

.content.main {
	min-height: 100vh; 
	padding: 0;
}

.canvas-wrapper {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%; 
}

.p5_loading {
	background: black;
	position: fixed;
	left: 0;
	top: 0;
	background: rgb(0, 0, 0);
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

.p5_loading__inner {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);  
	display: flex;
}

.p5_loading__inner span {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: rgb(255, 255, 255);
	margin: 0 20px;
	transform-origin: center;
	animation: noiseLoad 0.5s infinite ease-in-out alternate;
}

.p5_loading__inner span:nth-child(2) {
	animation-delay: 0.33s;
}

.p5_loading__inner span:nth-child(3) {
	animation-delay: 0.66s;
}

@keyframes noiseLoad {
	from {
		transform: scale(0);
		background: rgb(255, 255, 255);
	}
	
	to {
		transform: scale(1);
		background: rgb(0, 0, 0);
		
	}
}

#uploading-animation {
	display: none;
}

#uploading-animation.is-visible {
	display: block;
}


.instructions {
	padding: 10px;
	text-align: left;
	text-transform: none;
	letter-spacing: 0.07em;
	color: yellow;
	position: relative; 
	border: 1px solid yellow;
	top: 2vmin;
	width: 200px;
	display: block;
	z-index: 1;
}

.upload-btn::before,
.toggle-btn {
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: currentColor;
	position: absolute;
	bottom: 2vmax;   
	border: 1px solid;
	width: 150px;
}

.upload-btn::before {
	content: "Upload a Track";
	display: inline-block;  
	left: 2vmax;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
}

.upload-btn:hover::before {
	color: yellow;
}

.toggle-btn {
	background: transparent;
	color: currentColor;
	right: 2vmax;
}

.toggle-btn:focus {
	outline: none;
}

.toggle-btn:hover {
	color: #fff;
}

/* @media screen and (max-width: 55em) {
	.codrops-header {
		flex-direction: column;
		justify-content: center;
	}
	.demos {
		width: 100%;
		margin: 1em 0 0;
		text-align: center;
	}
	.toggle-btn {
		right: 10px;
		bottom: 5.5em;
		width: calc(100% - 20px);
	}
	.upload-btn::before {
		position: absolute;
		bottom: 9em;
		left: 10px;
		width: calc(100% - 20px);
	}
} */

#fixed-div {
	background-color: rgba(99, 99, 99, 0.705);
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 1;
	color: yellow;
	font-size: 18;
	padding: 20px 60px;
	border-radius: 15px;
	display: none;
	transition: display 350ms ease-in-out;
}


input[type="number"] {
	display: none;
}

.enternumber {
	display: none
}
 

@media screen and (min-width:320px) and (max-width:640px) {
	.instructions {
		border: none;
	}	

	.text {
		display: none;
	}


	.enternumber {
		display: block
	}

	input[type="number"] {
		display: block;
	}

}
